@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --Magenta: 328, 68%, 63%;
    --Magenta-16: 328, 68%, 63%, 0.16;

    --CodeGreen: 181, 34%, 39%;
    --CodeGreen-16: 181, 34%, 39%, 0.16;

    --Mediumslateblue: 241, 92%, 71%;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: var(--Mediumslateblue);
    --input: var(--Mediumslateblue);

    --primary: var(--Mediumslateblue);
    --primary-hover: 241 76% 62%;
    --primary-active: 241 54% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 241 76% 62%;

    --accent: var(--Mediumslateblue);
    --accent-foreground: 241 76% 62%;

    --destructive: var(--Magenta-16);
    --destructive-foreground: var(--Magenta);

    --success: var(--CodeGreen-16);
    --success-foreground: var(--CodeGreen);

    --ring: var(--Mediumslateblue);

    --radius: 0.5rem;
  }

  .dark {
    --background: 242 24% 21%;
    --foreground: 0 0% 100%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: var(--Mediumslateblue);
    --input: var(--Mediumslateblue);

    --primary: var(--Mediumslateblue);
    --primary-hover: 241 76% 62%;
    --primary-active: 241 54% 54%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: var(--Mediumslateblue);
    --accent-foreground: 240 100% 77%;

    --destructive: var(--Magenta-16);
    --destructive-foreground: var(--Magenta);

    --success: var(--CodeGreen-16);
    --success-foreground: var(--CodeGreen);    

    --ring: var(--Mediumslateblue);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
