:root {
  --background: 0 0% 100%;
  --foreground: 242 24% 21%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 225 5% 47%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --card-shadow: 241, 92%, 71%, 0.16;
  --tab-shadow: 228, 51%, 11%, 0.08;

  --border: 241 92% 71%;
  --input: 225 11% 84%;

  --primary: 241 92% 71%;
  --primary-hover: 241 76% 62%;
  --primary-active: 241 54% 54%;
  --primary-foreground: 0 0% 100%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 241 76% 62%;

  --accent: 241 92% 71%;
  --accent-foreground: 241 76% 62%;

  --destructive: 328, 68%, 63%, 0.16;
  --destructive-foreground: 328 68% 63%;

  --success: 181, 34%, 39%, 0.16;
  --success-foreground: 181 34% 39%;

  --warning: 48, 79%, 45%, 0.16;
  --warning-foreground: 48 79% 45%;

  --info: 198, 85%, 45%, 0.16;
  --info-foreground: 198 85% 45%;

  --ring: 241 92% 71%;

  --radius: 0.5rem;

  --tooltip: 225 5% 47%;
  --tooltip-link: 241 100% 88%;

  --status-ready: 74 93% 95%;
  --status-ready-foreground: 81 100% 30%;

  --status-in-progress: 210 33% 98%;
  --status-in-progress-foreground: 218 18% 43%;

  --status-problem-minor: 55 97% 87%;
  --status-problem-minor-foreground: 40 100% 38%;

  --status-problem-blocking: 358 100% 94%;
  --status-problem-blocking-foreground: 358 79% 51%;

  --status-involved: 231 100% 94%;
  --status-involved-foreground: 245 93% 67%;

  --status-not-involved-stroke: 220 31% 90%;
  --status-not-involved-foreground: 218 20% 61%;

  --status-completed-good: 154 91% 36%;
  --status-completed-good-foreground: 0 0% 100%;

  --status-completed-bad: 359 93% 60%;
  --status-completed-bad-foreground: 0 0% 100%;
}

.dark {
  --background: 242 24% 21%;
  --foreground: 0 0% 100%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 0, 0%, 100%, 0.32;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --card: 242 24% 21%;
  --card-foreground: 210 40% 98%;
  --card-shadow: 241, 92%, 71%, 0.4;
  --tab-shadow: 228, 51%, 11%, 0.08;

  --border: 241 92% 71%;
  --input: 0, 0%, 100%, 0.32;

  --primary: 241 92% 71%;
  --primary-hover: 241 76% 62%;
  --primary-active: 241 54% 54%;
  --primary-foreground: 0 0% 100%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 241 92% 71%;
  --accent-foreground: 240 100% 77%;

  --destructive: 328, 68%, 63%, 0.16;
  --destructive-foreground: 328 68% 63%;

  --success: 154, 84%, 45%, 0.16;
  --success-foreground: 181 35% 49%;
}

* {
  @apply border-border;
}
body {
  @apply bg-background text-foreground;
}
