:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(242 24% 21%);

  --muted: hsl(210 40% 96.1%);
  --muted-foreground: hsl(225 5% 47%);

  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(222.2 84% 4.9%);

  --card: hsl(0 0% 100%);
  --card-foreground: hsl(222.2 84% 4.9%);
  --card-shadow: hsl(241, 92%, 71%, 0.16);
  --tab-shadow: hsl(228, 51%, 11%, 0.08);

  --side-bar: hsl(0 0% 100%);
  --tabs-sidebar: hsl(210 40% 96.1%);
  --tabs-sidebar-shadow: hsl(0, 0%, 100%, 0);

  --border: hsl(241 92% 71%);
  --input: hsl(225 11% 84%);

  --primary: hsl(241 92% 71%);
  --primary-hover: hsl(241 76% 62%);
  --primary-active: hsl(241 54% 54%);
  --primary-foreground: hsl(0 0% 100%);

  --secondary: hsl(210 40% 96.1%);
  --secondary-foreground: hsl(241 76% 62%);

  --accent: hsl(241 92% 71%);
  --accent-foreground: hsl(241 76% 62%);

  --destructive: hsl(328, 68%, 63%, 0.16);
  --destructive-foreground: hsl(328 68% 63%);

  --success: hsl(181, 34%, 39%, 0.16);
  --success-foreground: hsl(181 34% 39%);

  --warning: hsl(48, 79%, 45%, 0.16);
  --warning-foreground: hsl(48 79% 45%);

  --info: hsl(198, 85%, 45%, 0.16);
  --info-foreground: hsl(198 85% 45%);

  --ring: hsl(241 92% 71%);

  --radius: hsl(0.5rem);

  --tooltip: hsl(225 5% 47%);
  --tooltip-link: hsl(241 100% 88%);
}

.dark {
  --background: hsl(242 24% 21%);
  --foreground: hsl(0 0% 100%);

  --muted: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(0, 0%, 100%, 0.32);

  --popover: hsl(222.2 84% 4.9%);
  --popover-foreground: hsl(210 40% 98%);

  --card: hsl(242 24% 21%);
  --card-foreground: hsl(210 40% 98%);
  --card-shadow: hsl(241, 92%, 71%, 0.4);
  --tab-shadow: hsl(228, 51%, 11%, 0.08);

  --side-bar: hsl(243.2 24.1% 15.5%);
  --tabs-sidebar: hsl(243.2 24.1% 15.5%);
  --tabs-sidebar-shadow: hsl(0, 0%, 0%, 0.08);

  --border: hsl(241 92% 71%);
  --input: hsl(0, 0%, 100%, 0.32);

  --primary: hsl(241 92% 71%);
  --primary-hover: hsl(241 76% 62%);
  --primary-active: hsl(241 54% 54%);
  --primary-foreground: hsl(0 0% 100%);

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: hsl(210 40% 98%);

  --accent: hsl(241 92% 71%);
  --accent-foreground: hsl(240 100% 77%);

  --destructive: hsl(328, 68%, 63%, 0.16);
  --destructive-foreground: hsl(328 68% 63%);

  --success: hsl(154, 84%, 45%, 0.16);
  --success-foreground: hsl(181 35% 49%);
}
